html,
body {
    overflow: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}

.contenedor-principal {
    background-image: url(assets/bg-general.jpg);
    background-size: cover;
    background-position: center;
}

.txt-container {
    width: 90%;
    max-width: 850px;
    background-color: #fff;
    padding: 120px 140px;
    border-radius: 30px;
    position: relative;
}

.text-promotional {
    font-size: 2rem;
}

.promotional-text span {
    font-size: clamp(1.2rem, 1.08rem + 0.6vw, 1.8rem);

}

.title-promotion {
    position: absolute;
    background-color: #D8F0FF;
    border-radius: 20px;
    width: 70%;
    max-width: 550px;
    padding: 20px 0;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}

.nota-txt {
    position: absolute;
    bottom: -70px;
    right: -90px;
}

.nota-txt img {
    width: 200px;
}

.mencionali-img {
    position: absolute;
    bottom: -70px;
    left: -320px;
}

.mencionali-img img {
    width: 400px;
}

@media screen and (min-width:0px) and (max-width: 767px) {
   .txt-container { 
    padding: 120px 30px;
}
}

@media screen and (min-width:0px) and (max-width: 1050px) {
    .nota-txt{
        position: absolute;
        bottom: -150px;
        right: 50%;
        transform: translateX(50%);
    }

}

@media screen and (min-width:0px) and (max-width: 1290px) {
    .mencionali-img {
        display: none;
    }

}


@media screen and (min-width:1290px) and (max-width: 1370px) {
    .mencionali-img {
        position: absolute;
        bottom: -70px;
        left: -220px;
    }

    .mencionali-img img {
        width: 300px;
    }
}

@media screen and (min-width:1290px) and (max-width: 1370px) {
    .mencionali-img {
        position: absolute;
        bottom: -70px;
        left: -220px;
    }

    .mencionali-img img {
        width: 300px;
    }
}

@media screen and (min-width:1370px) and (max-width: 1500px) {
    .mencionali-img {
        position: absolute;
        bottom: -70px;
        left: -260px;
    }

    .mencionali-img img {
        width: 350px;
    }

}